<!DOCTYPE html>
<html>
  <head>
    <title>DepotService</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag('/logo.png', alt: 'The Pragmatic Catalog') %>
      <span class="title"><%= @page_title %></span>
    </div>

    <div id="columns">
      <div id="side">
        <% if @cart %>
          <%= hidden_div_if(@cart.empty?, id: 'cart') do %>
            <%= render @cart %>
          <% end %>
        <% end %>

        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <% if is_login? %>
            <li><%= link_to current_user.username, current_user %></li>
            <li><%= link_to 'Logout', ENV['LOGOUT_URL'] %></li>
          <% else %>
            <li><%= link_to 'Login', ENV['LOGIN_URL'] %></li>
          <% end %>
        </ul>
      </div>

      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
